@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto:wght@300&display=swap');

$font-stack: 'Roboto', sans-serif;
$primary-color: #204E8A;
$fondo-azul: #000080;
$amarillo: #FFFF00;
$gris: #FFF7F8;
$verde: #00D9C6;
$navegacion-verde: #42B600;

body {
  background-color: white;
  font-family: 'Kanit', sans-serif;
  color: $primary-color;
}

.nav-verde{
  background-color: $navegacion-verde;
}

.titulo{
  font-size: 1.5em;
  margin: 0.67em 0;
  font-weight: bold;
  color: $amarillo;
  background-color: $fondo-azul;
}
.verde{
  background: rgb(0,36,2);
  background: linear-gradient(0deg, rgba(0,36,2,1) 0%, rgba(105,187,121,1) 0%, rgba(0,255,206,1) 100%);
  height: 1024px;
}
.gris{
  background-color: $gris;
  padding: 40px !important;
  font-family: 'Roboto', sans-serif;
}
.imagen{
  height: 690px;
}
img.redondeado{
  border-radius: 50%;
  width: 80px;
  border: 1px solid black;
}
