// Barra de navegacion 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
$bg-color : #081b29;
$second-bg-color: #112e42;
$text-color: #ededed;
$main-color: #00abf8;

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: $bg-color;
    color: $text-color;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    // border: .3rem solid red;
    transition: .3s;

    &.sticky{
        background: $second-bg-color;
        padding: 1rem 9%;

    }

    &__logo{
        font-size: 2.5rem;
        color: $text-color;
        font-weight: 500;
        margin-left: 4.5rem;
        // border: .3rem solid red;


        & img{
            width: 20rem;
            filter: invert(1) sepia(0) hue-rotate(20deg) saturate(1000%); //le estoy cambiando el color a blanco
            transition: .3s ;
            
            &:hover{
            filter: invert(.5) sepia(0) hue-rotate(20deg) saturate(1000%); //le estoy cambiando el color a blanco

            }
        }
    }

    &__nav a{
        font-size: 2rem;
        color: $text-color;
        font-weight: 500;
        margin-left: 3.5rem;
        transition: 0.3s;

        &:hover, &.active{
            color: $main-color;
        }
        
    }
    #menu-icon{
        font-size: 3.6rem;
        color: $text-color;
        cursor: pointer;
        display: none;
    }
}

// section de el inicio 1.0

@media (max-width: 1200px)  {
    html{
        font-size: 55%;

        & .inicio__content{
            width: 100%;        
        }
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 4%;
    }

    section{
        padding: 10rem 4% 2rem;
    }
    .inicio{
        padding: 0 4%;

        &__content{
            flex-direction: column;
            &__box:nth-child(1){
                width: 90%;
                align-items: center;
                text-align: center;
            }

            &__box:nth-child(2){
                display: none;
            }
        }

        &__social{
            left: auto !important;
        }
    }
}

@media (max-width: 768px){
    .header{
        background: $bg-color;

        #menu-icon{
            display: block;
        }
        &__nav{
            position: absolute;
            top: 100%;
            left: -100%;
            width: 100%;
            padding: 1rem 4%;
            background: $bg-color;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
            transition: .25s ease;
            transition-delay: .25%;

            &.active{
                left: 0;
            }
            
            & .menu{

                & a{
                    display: block ;
                    font-size: 2rem;
                    margin: 3rem 0;
                }
            }  
        }
    }
}


.inicio{
    display: flex;
    align-items: center;
    padding: 0 5%;
    min-height: 100vh;
    // border: .3rem solid red;
    justify-content: center;
    flex-direction: column;

    &__content{
        max-width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: .3rem solid blue;
        flex-wrap: wrap;

        &__box{
            width: 50%;
            // border: .1rem solid brown;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            
            &:nth-child(2){
                align-items: center;
            }
            & .box__img{
                width: 80%;                

                & img{
                    width: 90%;
                }
            }
        }
        
        & h1{
            font-size: 5.6rem;
            font-weight: 700;
            line-height: 1.3;
        }
        & .text-animation{

            position: relative;
            width: 48rem;

            & h3{
                font-size: 3.2rem;
                font-weight: 700;
                color: transparent; //texto transparente
                -webkit-text-stroke: .7px $main-color; //bordear el texto 
                background-image:linear-gradient($main-color, $main-color);
                background-repeat: no-repeat;
                -webkit-background-clip: text;
                background-position: -50rem 0;
                animation: inicioBgText 6s linear infinite;
                animation-delay: 2s;

                &::before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    border-right: 2px solid $main-color;
                    z-index:-1 ;
                    animation: inicioCursorText 6s linear infinite;
                    animation-delay: 2s;
                }
            }
  
        }

        & p{
            font-size: 1.6rem;
            margin: 2rem 0 4rem;
        }
        & .btn-box{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 34.5rem;
            height: 5rem;

            & .btn{
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 15rem;
                height: 100%;
                background-color: $main-color;
                border: .2rem solid $main-color;
                border-radius: .8rem;
                font-size: 1.8rem;
                font-weight: 800;
                letter-spacing: .1rem;
                color: $bg-color;
                z-index: 1;
                overflow: hidden;
                transition: .5s;

                &:nth-child(2){
                    background: transparent;
                    color: $main-color;

                    &:hover{
                        color: $bg-color;
                    }

                    &::before{
                        background: $main-color;
                    }
                }

                &::before{

                    // transicion de color
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: $bg-color;
                    z-index: -1;
                    transition: .3s;
                }

                &:hover{
                    color: $main-color;

                    &::before{
                        width: 100%;
                    }
                }
            }

        }
    }

    &__social{

        position: absolute;
        bottom: 6rem;
        width: 170px;
        display: flex;
        justify-content: space-between;
        left: 9.8%;
        

        & a{
            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background: transparent;
            border: .2rem solid $main-color;
            border-radius: 50%;
            font-size: 20px;
            color: $main-color;
            z-index: 1;
            overflow: hidden;

            &::before{

                // trancision de color
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: $main-color ;
                z-index: -1;
                transition: .5s;

            }

            &:hover{
                color: $bg-color;

                &::before{
                    width: 100%;
                }
            }
        }
    }
}

@keyframes inicioBgText {
    0%,10%,100%{
        background-position: -50rem 0;
    }

    65%,85%{
        background-position: 0 0;
    }
}

@keyframes inicioCursorText {
    0%,10%,100%{
        width: 0;    
    }

    65%,78%,85%{
        width: 100%;
        max-width: 90%;
        opacity: 1;
    }
    75%,21%{
        opacity: 0;
    }
}
@media (max-width: 520px){
    html{
        font-size: 50%;

        & .inicio{

            &__content{

                & h1{
                    display: flex;
                    flex-direction: column;
                }
            }

            &__social{
                width: 160px;

                & a{
                    width: 38px;
                    height: 38px;
                }
            }
        }
    }

}

@media (max-width: 462px){
    .inicio{

        &__content{
            &__box{
                & h1{
                    font-size: 5.2rem;
                }
                & .text-animation{
                    width: 30rem;
                }
            }
        }
    }
}
@media (max-width: 371px){
    .inicio{
        justify-content: center;
        &__content{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            &__box{
                & h1{
                    font-size: 5rem;
                }
            }
        }
    }
}
