http://localhost/controlador/metodo/parametro
http://localhost/index.php?controlador=controlador&metodo=metodo&parametro=parametro

rewrite ^/([a-z]+)/([a-z0-9]+)/([1-9][0-9]*)$ /index.php?controlador=$1&metodo=$2&parametro=$3;