@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background-color: #081b29;
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.header__logo {
  font-size: 2.5rem;
  color: #ededed;
  font-weight: 500;
  margin-left: 3.5rem;
}
.header__logo img {
  width: 20rem;
  filter: invert(1) sepia(0) hue-rotate(20deg) saturate(1000%);
  transition: 0.3s;
}
.header__logo img:hover {
  filter: invert(0.5) sepia(0) hue-rotate(20deg) saturate(1000%);
}
.header__nav a {
  font-size: 1.7rem;
  color: #ededed;
  font-weight: 500;
  margin-left: 1.5rem;
  transition: 0.3s;
}
.header__nav a:hover, .header__nav a.active {
  color: #00abf8;
}
.header #menu-icon {
  font-size: 3.6rem;
  color: #ededed;
  cursor: pointer;
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.inicio {
  display: flex;
  align-items: center;
  padding: 0 9%;
}
.inicio__content {
  max-width: 80rem;
}
.inicio__content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.inicio__content .text-animation {
  position: relative;
  width: 48rem;
}
.inicio__content .text-animation h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px #00abf8;
}
.inicio__content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}
.inicio__content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}
.inicio__content .btn-box .btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background-color: #00abf8;
  border: 0.2rem solid #00abf8;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  color: #081b29;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.inicio__content .btn-box .btn:nth-child(2) {
  background: transparent;
  color: #00abf8;
}
.inicio__content .btn-box .btn:nth-child(2):hover {
  color: #081b29;
}
.inicio__content .btn-box .btn:nth-child(2)::before {
  background: #00abf8;
}
.inicio__content .btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #081b29;
  z-index: -1;
  transition: 0.3s;
}
.inicio__content .btn-box .btn:hover {
  color: #00abf8;
}
.inicio__content .btn-box .btn:hover::before {
  width: 100%;
}
.inicio__social {
  position: absolute;
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.inicio__social a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid #00abf8;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf8;
  z-index: 1;
  overflow: hidden;
}
.inicio__social a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf8;
  z-index: -1;
  transition: 0.5s;
}
.inicio__social a:hover {
  color: #081b29;
}
.inicio__social a:hover::before {
  width: 100%;
}

/*# sourceMappingURL=app.css.map */
